.contacts {
	height: 100vh;

	display: grid;
	grid-template-columns: minmax(200px, 480px) minmax(200px, 100%);
}

.contacts__list {
	height: 100%;
	overflow-y: scroll;
}

.contacts__searchbar {
	margin: 12px var(--offset-horizonal);

	display: flex;
	gap: 16px;
}

.contacts__searchbar button {
	display: grid;
	place-content: center;
}

.contacts__searchbar input {
	/* учитываем margin и padding */
	width: calc(100% - var(--offset-horizonal) - 16px);
}

.profile__tab {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	border-left: 1px solid var(--stroke);
}

.profile__tab__list {
	padding: 0;

	list-style-type: none;
}

.profile__tab__button {
	margin: var(--offset-vertical) var(--offset-horizonal);
	text-align: left;
	color: var(--red);
}

.profile__no_selection {
	margin: auto 32px 32px 32px;
	color: var(--darkgrey);
	text-align: center;
	font-size: 16px;
}

.contacts__no_contacts {
	padding: 12px 32px;
}
.no_contacts__button {
	display: block;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (width < 880px) {
	.contacts__searchbar {
		margin: 0 var(--offset-horizonal);
	}
	.contacts__searchbar input {
		width: 100%;
	}
	.contacts__searchbar button {
		display: none;
	}

	.contacts {
		display: block;
	}
	.profile__tab {
		display: none;
	}
}
