.main {
	height: 100vh;

	display: grid;
	grid-template-columns: minmax(12.5rem, 30rem) minmax(12.5rem, 100%);
}

.contactsList {
	height: 100%;
	overflow-y: scroll;
}

.searchbar {
	margin: 0.75rem var(--offset-horizontal);

	display: flex;
	gap: 1rem;
}

.searchbar button {
	display: grid;
	place-content: center;
}

.searchbar input {
	width: calc(100% - var(--offset-horizontal) - 1rem);
}

.profileTab {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	border-left: 0.063rem solid var(--stroke);
}

.profileTab__list {
	padding: 0;

	list-style-type: none;
}

.profileTab__button {
	margin: var(--offset-vertical) var(--offset-horizontal);
	text-align: left;
	color: var(--red);
}

.profileTab__noSelection {
	margin: auto 2rem 2rem 2rem;
	color: var(--darkgrey);
	text-align: center;
	font-size: 1rem;
}

.noContacts {
	padding: 0.75rem 2rem;
}
.noContacts__button {
	display: block;
	text-decoration: underline;
	text-underline-offset: 0.25rem;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
