.main {
	height: 100vh;

	display: grid;
	grid-template-columns: minmax(200px, 480px) minmax(200px, 100%);
}

.contactsList {
	height: 100%;
	overflow-y: scroll;
}

.searchbar {
	margin: 12px var(--offset-horizontal);

	display: flex;
	gap: 16px;
}

.searchbar button {
	display: grid;
	place-content: center;
}

.searchbar input {
	/* учитываем margin и padding */
	width: calc(100% - var(--offset-horizontal) - 16px);
}

.profileTab {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	border-left: 1px solid var(--stroke);
}

.profileTab__list {
	padding: 0;

	list-style-type: none;
}

.profileTab__button {
	margin: var(--offset-vertical) var(--offset-horizontal);
	text-align: left;
	color: var(--red);
}

.profileTab__noSelection {
	margin: auto 32px 32px 32px;
	color: var(--darkgrey);
	text-align: center;
	font-size: 16px;
}

.noContacts {
	padding: 12px 32px;
}
.noContacts__button {
	display: block;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.form__inputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

