.auth {
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

.auth__section {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}

.auth__title {
	margin-bottom: 0.5rem;
	width: var(--width);

	font-size: 2.25rem;
	font-weight: 600;
	text-align: center;
}

.auth__description {
	width: var(--width);
	color: var(--darkgrey);
	text-align: center;
}

.auth__link {
	color: var(--darkgrey);
	text-decoration: underline;
	text-underline-offset: 0.1rem;
}

.auth__form {
	width: var(--width);

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.auth__error {
	text-align: center;
	color: var(--red);
}

.digits__inputs {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.digits__input {
	width: 2.875rem;
	height: 2.875rem;

	border: 0.0625rem solid var(--fill);
	border-radius: 1rem;
	background: var(--fill);
	caret-color: var(--darkgrey);

	color: var(--black);
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.digits__input:focus-visible {
	outline: none;
	border-color: var(--lightgrey);
}

.digits__input::placeholder {
	font-size: 1.25rem;
	font-weight: 400;
	color: var(--darkgrey);
}
