.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;

	display: grid;
	place-content: center;

	background: var(--screen-dim);
}

.form {
	position: relative;

	padding: 2rem;
	width: 32rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;

	border-radius: 1rem;
	background: var(--white);
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.heading__title {
	color: var(--black);
	font-size: 1.5rem;
	font-weight: 600;
}
