.header {
	padding: 4px 16px 20px 16px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	button,
	svg {
		width: 24px;
		height: 24px;
	}
}

.heading {
	position: relative;

	h1 {
		font-size: 24px;
		font-weight: 600;
	}
	button {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 100%;

		opacity: 0;
	}
}

.chat {
	display: flex;
	align-items: center;
	gap: 16px;

	h1 {
		font-size: 20px;
		font-weight: 700;
	}
	img {
		width: 2rem;
		height: 2rem;

		border-radius: 100%;
		object-fit: cover;
	}
	div {
		position: relative;

		display: flex;
		align-items: center;
		gap: 16px;
	}
	div button {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 100%;
		height: 100%;

		opacity: 0;
	}
}
