.main {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.main__section {
	display: flex;
	flex-direction: column;
}

@media (max-width: 880px) {
	.main {
		grid-template-columns: 1fr;
	}
}
